numpy==1.26.4
openai==1.33.0
jupyter==1.0.0
python-dotenv==1.0.1
PyPDF2==3.0.1
pandas==2.2.2
openpyxl==3.1.4
statsmodels==0.14.2
tqdm==4.66.4
scipy==1.13.1
matplotlib==3.9.0
Levenshtein==0.25.1
bunkatopics==0.46.1
PyMuPDF==1.24.5
streamlit==1.36.0
